/****** RESET ******/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 20px;
  color: #333;
}

h1 {
  margin-bottom: 10px;
}


/******************* GAME **********************/


#game-area {
  margin: 30px auto;
  max-width: 400px;
  padding: 20px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

input {
  padding: 10px;
  width: 70%;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  padding: 10px;
  margin-left: 5px;
  border: none;
  background: #4CAF50;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: #45a049;
}

#feedback {
  margin-top: 15px;
  font-weight: bold;
}

ul {
  margin-top: 20px;
  list-style: none;
  padding: 0;
}


/**************** FEEDBACKS ********************/

.history-entry {
  display: flex;
  gap: 10px;
  margin: 5px 0;  
}

.history-entry > span {
  padding: 5px 10px;
  border-radius: 6px;
  background: #ee5d5d;
  min-width: 60px;
  text-align: center;
  display: inline-flex;      
  align-items: center;       
}

.history-attempt {
  font-weight: bold;
  background: #f0f0f0;
}


.history-attempt.correct { background: green; color: white; }
.history-name.correct { background: green; color: white; }
.history-continent.correct { background: green; color: white; }
.history-population.correct20 { background: green; color: white; }
.history-population.correct40 { background: yellow;}


.arrow {
  font-weight: bolder;
  font-size: 1.5em;
  color: darkblue;
}



.history-entry > .history-coords {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 40px;
  padding: 5px 10px;
  border-radius: 6px;
  background-color: darkblue;
  color: white;
  font-weight: bolder;
  font-size: 1.2em; 
}
